@import "../../assets/baseStyles/unselectable.scss";

.store-logo {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0;
}