@import '../../assets/baseStyles/variables.scss';

.wishlist-header {
  margin-top: 190px;
  margin-bottom: 55px;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  @media (min-width: tablet-width) {
      margin-top: 210px;
      margin-bottom: 85px;
  }
  @media (min-width: $desktop-width) {
      margin-top: 220px;
  }
}

.wishlist-header__text {
  display: flex;
}